// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// site colors

$main: #8900FF;
$main-text: #ffffff;
$secondary-text: #C0C0C0;
$decline: #BF2C2C;
$background: #000000;
$secondary-background: #15191d;
