// Site font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$font: 'Inter', sans-serif;
$main: #8900FF;
$main-text: #a845ff;

a{
  text-decoration: none;
}
li{
  list-style-type: none;
}

.hero-banner-title{
  font-family: $font;
  font-weight: 700;
  font-size: 125px;
}
.hero-banner-subtitle{
  font-family: $font;
  font-weight: 700;
  font-size: 35px;
}

.secondary-link {
  color: $main;
  text-decoration: none;
  opacity: 0.8;

    &:hover {
      opacity: 1;
      color: $main-text;
    }
}

.error-text-search{
  display: flex;
  max-width: 1280px;
  padding-top: 50px;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 5px;

  span{
    color: $main;
    text-transform: uppercase;
  }
}
