.planet-container{
  max-width: 1024px;
  margin: auto;
  display: flex;

  background-color: $secondary-background;
  border-radius:10px;

  padding: 15px;
  margin-block: 50px;

  animation: breath-background 10s infinite;

  p{
    margin: 0;
  }

  .left-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba($color: $background, $alpha: .5);
    border-radius: 10px;

    opacity: 0;
    animation: aparition 1s .1s forwards;

    .info-container{
      display: flex;
      padding: 10px;
      padding-inline: 20px;
      align-items: center;
      justify-content: space-between;
      border-radius: 0 0 5px 5px;

      .price{
        display: flex;
        align-items: center;
      }

      p{
        color: $secondary-text;
        font-size: 12px;
        padding-right: 5px;
        font-weight: 700;

        strong{
          color: $main-text;
          font-size: 17px;
        }
      }

      .planet-size{
        display: flex;
        align-items: center;
        img{
          height: 20px;
          width: 20px;
        }
      }
    }

    .owner-info-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      padding-inline: 20px;

      .owner-info{
        display: flex;
        align-items: center;
        text-decoration: none;

        .avatar-large{
          border: solid 2px transparent;
        }
        .owner-name strong{
          color: $main-text;
        }
      }
      .owner-info > *{
        margin-right: 5px;
      }
    }
  }

  .rating{
    display: flex;
    align-items: center;
    gap: 5px;

    p{
      color: $main-text;
      font-size: 20px;
    }
    img{
      height: 24px;
      width: 24px;
    }
  }

  .right-container{
    width: calc(50% - 15px);
    margin-left: 10px;
    opacity: 0;
    animation: aparition 1s .2s forwards;

    .top-right{
      min-height: 230px;
      background-color: rgba($color: $background, $alpha: .5);
      border-radius: 10px;
      padding: 15px;
      word-wrap: break-word;

      .title-container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1{
          font-size: 50px;
          color: $main;
          font-weight: 700;
        }
      }

      .info-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        h3{
          font-size: 24px;
          color: $secondary-text;
        }
      }
      .info-container > *{
        margin-right: 5px;
      }
    }
    .top-right > *{
      margin-bottom: 10px;
    }

    .bottom-right{
      background-color: rgba($color: $background, $alpha: .5);
      border-radius: 10px;
      padding: 15px;
      margin-top: 10px;

      display: flex;
      justify-content: center;

      .btn-main{
        display: flex;
        align-items: center;
        width: 100%;
        gap: 10px;
        margin-top: 20px;
        padding-block: 10px;

        input{
          color: $main-text;
          font-weight: 700;
        }

        span{
          font-size: 18px;
        }

        .price-value{
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
    }
  }
}

@keyframes aparition{
  100%{
    opacity: 1;
  }
}
@keyframes breath-background{
  0%{ box-shadow: 0px 0px 1000px 1px rgba($color: $main, $alpha: .2); }
  50%{ box-shadow: 0px 0px 1000px 1px $main; }
  100%{ box-shadow: 0px 0px 1000px 1px rgba($color: $main, $alpha: .2); }
}
