<div class="container-planet">
  <% @planets.each do |planet|%>
    <%= link_to planet_path(planet.id),  class: "planet-list" do %>
      <%= cl_image_tag planet.photo.key, class: "planet-image-list"%>
      <div class= "planets-content" >
        <h1><%= planet.name%></h1>
      </div>
    <% end %>
  <% end %>
</div>
