.container-planet {
  //display: grid;
  //grid-column: 1fr 1fr 1fr 1fr;
  //grid-gap: 16px;
  max-width: 1280px;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  a {
    text-decoration: none;
  }
}
.planets-category{
  height: 150px;
  width:150px;


}

.planets-title{
  text-decoration: none;
  justify-content: center;
  color: #8900FF;;

}
