.nav-container{
  position: sticky;
  top: 0;
  height: 70px;
  width: 100vw;
  background: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
  backdrop-filter: blur(5px);
  z-index: 2;

  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1280px;
    margin: auto;
    padding-inline: 10px;

    .logo-container{
      display: flex;
      text-decoration: none;
      align-items: center;

      font-family: $font;
      font-weight: 700;
      font-size: 20px;
      color: $main-text;

      transition: text-shadow .3s;

      .logo-svg{
        height: 32px;
        width: 32px;
        margin-right: 10px;
      }

      &:hover{
        text-shadow: rgba($color: $main-text, $alpha: .8) 0px 0px 10px;
      }
    }

    .search-bar{
      display: flex;
      align-items: center;
      height: 35px;
      max-width: 450px;
      width: 100%;
      border: solid 2px $main-text;
      border-radius: 20px;
      margin-left: 15px;

      .search-btn{
        border: none;
        background-color: transparent;
        margin-inline: 10px;

        img{
          height: 18px;
          width: 18px;
        }
      }

      .search-input{
        height: 100%;
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        padding-block: 15px;

        &::placeholder{
          color: $secondary-text;
          font-size: 14px;
        }
      }
    }

    .links-container{
      display: flex;
    }
    .links-container > *{
      margin-inline: 5px;
    }
  }
}

.navbar-menu{
  background-color: $secondary-background;
  border-radius: 5px;
  padding: 15px;
  .separator{
    width: 100%;
    height: 2px;
    background-color: rgba($color: $main-text, $alpha: .5);
    margin-block: 15px;
  }
  .menu-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    .notification{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $main;
      border-radius: 100%;
      width: 30px;
      height: 30px;

    }
  }

}
.navbar-menu > *{
  margin-block: 10px;
}
