.reservation-container {
  padding-block: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 20px;
  max-width: 1280px;
  margin: auto;

  .reservation-list {
    position: relative;
    background-color: $secondary-background;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    transition: box-shadow 0.3s, transform 0.3s;

    &:hover {
      box-shadow: 0px 0px 50px 1px $main;
      transform: scale(1.02);
    }
    .reservations-content {
      padding: 10px;
    }
    .reservations-content > * {
      margin-top: 10px;
    }

    .reservation-card-title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .reservation-card-text-title {
        font-size: 32px;
        font-weight: 700;
        color: $main;
      }

      .reservation-rating-card {
        display: flex;
        align-items: center;
        gap: 2px;

        p {
          margin: 0;
        }

        img {
          height: 20px;
          width: 20px;
        }
      }
    }

    .reservation-planets-type {
      display: flex;
      justify-content: space-between;

      .reservation-card-galaxy {
        font-size: 24px;
      }
      .reservation-card-kind {
        font-size: 20px;
        color: $secondary-text;
      }
    }

    .reservation-infos {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .reservation-planets-price {
        display: flex;
        align-items: center;
        gap: 5px;

        .reservation-planets-price-text {
          margin: 0;
          color: $secondary-text;
        }
      }

      .reservation-planets-size {
        display: flex;
        align-items: center;
        gap: 2px;

        .reservation-planets-size-text {
          margin: 0;
          color: $secondary-text;
          span {
            color: $secondary-text;
          }
        }

        img {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}

.reservation-status {
  position: absolute;
  top: 10px;
  right: -20px;
  transform: rotate(45deg);
  // background-color: #8900ff;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #ffffff;
  p {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $main-text;
    font-weight: bold;
    white-space: nowrap;
  }
  &.pending {
    background-color: #8900ff; // Pour le statut "pending"
  }

  &.accepted {
    background-color: green; // Pour le statut "accept"
  }
}

.reservation-infos-renter {
  display: grid;
  grid-template-columns: 50px auto auto;
  grid-column-gap: 10px;
  align-items: stretch;
  justify-items: start;

  .reservation-renter-avatar {
    grid-column: 1;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .reservation-renter {
    grid-column: 2;
    color: $secondary-text;
  }
  .reservation-dates {
    grid-column: 3;
    color: $secondary-text;
    text-align: right;
    justify-self: end;
  }
}

.reservation-button-accept {
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 5px;
  border: solid 2px green;
  color: green;
  background: none;
  font-family: $font;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  transition: box-shadow .3s, text-shadow .3s;

  &:hover{
    color: green;
    box-shadow: rgba($color: green, $alpha: .5) 0px 0px 5px 2px;
    text-shadow: rgba($color: green, $alpha: .5) 1px 0px 10px;
  }
}

.reservation-button-decline {
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 5px;
  border: solid 2px $decline;
  color: $decline;
  background: none;
  font-family: $font;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  transition: box-shadow .3s, text-shadow .3s;

  &:hover{
    color: $decline;
    box-shadow: rgba($color: $decline, $alpha: .5) 0px 0px 5px 2px;
    text-shadow: rgba($color: $decline, $alpha: .5) 1px 0px 10px;
  }
}

.reservation-button-cancel {
  padding-inline: 10px;
  padding-block: 5px;
  border-radius: 5px;
  border: solid 2px $secondary-text;
  color: $secondary-text;
  background: none;
  font-family: $font;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  transition: box-shadow .3s, text-shadow .3s;

  &:hover{
    color: $secondary-text;
    box-shadow: rgba($color: $secondary-text, $alpha: .5) 0px 0px 5px 2px;
    text-shadow: rgba($color: $secondary-text, $alpha: .5) 1px 0px 10px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
